---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


body {
  margin: 0;
  width: 100%;
  text-align: justify;
  background: #000000;
  background: url('bg.jpg') no-repeat center center fixed #000000; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color: #EEEEEE;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: #CCC;
    text-decoration: none;
}

a:visited {
    color: #AAA;
}

a:hover, a:active {
    color: #BBB;
    text-decoration: underline;
}

.logo {
  text-align: center;
  padding-top: 10px;
}

.center-content {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 960px;
  width: 90%;
  text-align: left;
  display: inline-block;
}

.main-and-right {
  display: flex;
  flex-direction: row;
}

.main-and-right .main-content {
  flex: 1;
  h2 {
    margin-top: 10px;
  }
}

.main-and-right .right-content {
  padding-left: 30px;
  padding-top: 29px;
  flex: 0 0 10em;
}

.instagram-title {
  font-size: 16px;
  padding-bottom: 10px;
  img {
    vertical-align: top;
  }
}

#instagram img {
  padding: 5px;
}

/* Small screens */
@media all and (max-width: 970px) {  
  .center-content {
    max-width: 750px;
  }
}

@media all and (max-width: 779px) {  
  .main-and-right {
    flex-direction: column;
  }
  
  .main-and-right .right-content {
    padding-left: 0;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}